In [15]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd

df_taxa_alfabetizacao = pd.read_csv(
    '../data/taxa_alfabetizacao.csv',
    sep=';',  # Define o delimitador correto
    skiprows=4,  # Pula as 4 primeiras linhas de metadados
    header=0  # Define a primeira linha de dados como cabeçalho
)

df_taxa_alfabetizacao1 = df_taxa_alfabetizacao[df_taxa_alfabetizacao['Município'].str.endswith("(PI)", na=False)]

df_taxa_alfabetizacao1

                   Município  Idade  Total
218               Acauã (PI)  Total  83,11
219        Agricolândia (PI)  Total  78,97
220         Água Branca (PI)  Total  84,94
221  Alagoinha do Piauí (PI)  Total  66,39
222   Alegrete do Piauí (PI)  Total  70,79
..                       ...    ...    ...
437       Várzea Branca (PI)  Total  73,50
438       Várzea Grande (PI)  Total  78,27
439         Vera Mendes (PI)  Total  68,31
440  Vila Nova do Piauí (PI)  Total  73,10
441         Wall Ferraz (PI)  Total  71,13

[224 rows x 3 columns]

: